

<div class="container pt-3">
  <h1>Edit your reservation </h1>
  <%# PARTIALS %>
</div>


<div class="container">
  <div class="row col-6 mt-5">
    <%= simple_form_for(@booking) do |f| %>
    <%# adding the datepicker to the form %>
      <div data-toggle-target="errors">
        <%= f.error_notification %>
      </div>
      <%= f.input :date_start, as: :string, label: 'New Check-in', input_html: { data: { controller: "datepicker"} }%>
      <%= f.input :date_end, as: :string, label: 'New Check-out', input_html: { data: { controller: "datepicker"} }%>
      <%= f.button :submit, class: 'btn btn-primary my-custom-class', data: { turbo: true } %>
    <% end %>
  </div>
</div>
