<div class="container">

<%# --- USER NAME --- %>

  <h1><%= @user.name %></h1>

<%# --- USER PROFILE PICTURE --- %>

  <div class="row ">
    <%= @user.picture %>
  </div>

<%# --- AVERAGE RATING --- %>

  <div class="card">
    <strong>Average rating:</strong>
    <%= @user.avg_rating %>
  </div>

<%# --- EMAIL --- %>

  <div class="card">
    <strong>Email:</strong>
    <%= @user.email %>
  </div>

<%# --- PASSWORD --- %>

  <div class="card">
    <strong>Password:</strong>
    <%= @user.password %>
  </div>

<%# --- CASTLES --- %>

<div class= "container mb-4 mt-4" >
  <div class = "cards">
    <% @user.castles.each do |castle| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= castle.castle_picture %>)">
        <h4><%= castle.castle_name %></h4>
          <p><%= castle.location %></p>
    </div>
    <% end %>
  </div>
</div>

<%# --- GO BACK --- %>

  <div class="row">
    <%= link_to "Back to search", users_path %>
  </div>
</div>
