<div class="container">

<%# --- USER NAME --- %>

  <h1><%= @user.name %></h1>

<%# --- USER PROFILE PICTURE --- %>

  <div class="row ">
    <%= @user.picture %>
  </div>

<%# --- AVERAGE RATING --- %>

  <div class="card">
    <strong>Average rating:</strong>
    <%= @user.avg_rating %>
  </div>

<%# --- EMAIL --- %>

  <div class="card">
    <strong>Email:</strong>
    <%= @user.email %>
  </div>

<%# --- PASSWORD --- %>

  <div class="card">
    <strong>Password:</strong>
    <%= @user.password %>
  </div>

<%# --- CASTLES --- %>

  <div>
    <strong>Castles:</strong>
    <% @user.castles.each do | castle | %>
      <div class="card">
          <%= castle.castle_name %>
      </div>
    <% end %>
  </div>

  <%# ADDING NEW CASTLE FORM HERE %>

<div class="container">
  <div data-controller="toggle" class="mt-3 mb-3">
    <button data-action="click->toggle#fire" class="btn btn-outline-primary">+ New castle</button>
    <div data-toggle-target="togglableElement" class="d-none">
      <%= render 'castles/form', castle: @castle %>
    </div>
  </div>
</div>

<%# --- BOOKINGS --- %>

  <div class= "container" >
    <div class="row text-uppercase">
      <h3> Your Bookings:</h3>
  <div class="row justify-content-center mt-3 p-4">
    <div class="col-9">
        <div class="card border-0 float-start">
          <h1 class="text-uppercase"><%= @user.username %></h1>
        </div>
    </div>
    <div class="col-3">
      <div class="card border-0 float-end">
        <p><strong>Average rating:</strong></p>
        <p class="fs-4"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><%= @user.avg_rating %></p>
      </div>
    </div>
  </div>


  <div class="row p-4">
    <div class="card p-2 border-0">
      <p class="mb-0 fs-5"><strong>Email:</strong> <%= @user.email %></p>
   </div>
  </div>

  <div class="row p-4">
    <div class="accordion m-0 p-0" id="myCastles">
      <% castle = @castle.id %>
      <% if @my_castles.length > 0 %>
        <div class="accordion-item">
          <h3 class="accordion-header" id="heading_<%= castle %>">
            <button class="accordion-button p-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_<%= castle %>" aria-expanded="true" aria-controls="collapse_<%= castle %>">
              <h3 class="mb-0">My Castles:</h3>
            </button>
          </h3>
          <div id="collapse_<%= castle %>" class="accordion-collapse collapse show" aria-labelledby="heading_<%= castle %>" data-bs-parent="#myCastles">
            <div class="accordion-body p-1">
              <% @my_castles.each do |my_castle| %>
                <div class="accordion" id="sub-myCastles">
                  <div class="accordion-item">
                    <h4 class="accordion-header p-0" id="sub-heading_<%= castle %>">
                      <button class="accordion-button p-1 m-0" type="button" data-bs-toggle="collapse" data-bs-target="#sub-collapse_<%= castle %>" aria-expanded="true" aria-controls="sub-collapse_<%= castle %>">
                        <h5 class="mb-0"><%= my_castle.castle_name %></h5>
                      </button>
                    </h4>
                    <div id="sub-collapse_<%= castle %>" class="accordion-collapse collapse" labelledby="#sub-heading_<%= castle %>" data-bs-parent="#sub-myCastles">
                      <div class="accordion-body p-2">
                        <table class="table table-sm">
                          <thead>
                            <tr>
                              <th scope="col">Who's renting:</th>
                              <th scope="col">Starting date</th>
                              <th scope="col">Ending date</th>
                              <th scope="col">Total revenue</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                            <% @bookings.each do |booking| %>
                              <td><%= booking.user.username %></td>
                              <td><%= booking.date_start %></td>
                              <td><%= booking.date_end %></td>
                              <td><%= "#{booking.price.to_i.to_fs(:delimited)} EUR" %></td>
                            <% end %>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <div class="row">
    <%= link_to "Back to search", user_session_path %>
  </div>
</div>
