<div class="container">

  <div class="row justify-content-center mt-3 p-4">
    <div class="col-9">
        <div class="card border-0 float-start">
          <h1 class="text-uppercase"><%= @user.username %></h1>
        </div>
    </div>

    <div class="col-3">
      <div class="card border-0 float-end">
        <p><strong>Average rating:</strong></p>
        <p class="fs-4"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><%= @user.avg_rating %></p>
      </div>
    </div>
  </div>


  <div class="row p-4" id="email">
    <div class="card p-2 border-0">
      <p class="mb-0 fs-5"><strong>Email:</strong> <%= @user.email %></p>
   </div>
  </div>

  <% castle = @castle.id %>
  <% if @my_castles.length > 0 %>
    <div class="row p-4">
      <div class="accordion m-0 p-0" id="myCastles">
        <div class="accordion-item">
          <h3 class="accordion-header mb-0 d-inline">
            <button class="accordion-button collapsed p-1" type="button" data-bs-toggle="collapse" data-bs-parent="#myCastles" data-bs-target="#collapse<% castle %>" aria-expanded="false" aria-controls="collapse<%= castle %>">
              <h3 class="mb-0">My Castles:</h3>
            </button>
          </h3>
          <div id="collapse<%= castle %>" class="accordion-collapse collapse" data-bs-parent="#myCastles">
            <% @my_castles.each do |my_castle| %>
              <div class="accordion-body p-1">
                <% castle_name = my_castle.castle_name %>
                <div class="accordion" id="<%= castle_name %>">
                  <div class="accordion-item">
                    <h4 class="accordion-header p-0 d-inline">
                      <button class="accordion-button collapsed p-1 m-0" type="button" data-bs-toggle="collapse" data-bs-parent="<%= castle_name %>" data-bs-parent="#<%= castle_name %>" data-bs-target="#collapse<%= castle_name %>" aria-expanded="false" aria-controls="collapse<%= castle_name %>">
                        <h4 class="mb-0"><%= my_castle.castle_name %></h4>
                      </button>
                    </h4>
                    <div id="collapse<%= castle_name %>" class="accordion-collapse collapse" data-bs-parent="#castle<%= castle_name %>">
                      <div class="accordion-body p-2">
                        <table class="table table-sm">
                          <thead>
                            <tr>
                              <th scope="col">Who's renting:</th>
                              <th scope="col">Starting date</th>
                              <th scope="col">Ending date</th>
                              <th scope="col">Total revenue</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                            <% @bookings.each do |booking| %>
                              <td><%= booking.user.username %></td>
                              <td><%= booking.date_start %></td>
                              <td><%= booking.date_end %></td>
                              <td><%= "#{booking.price.to_i.to_fs(:delimited)} EUR" %></td>
                            <% end %>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row border-0 p-4" id="link">
      <div class="card border-0 p-2">
        <%= link_to "Back to search", user_session_path %>
      </div>
    </div>

  <% else %>
    <div class="row border-0 p-4" id="link">
      <div class="card border-0 p-2">
        <%= link_to "Back to search", user_session_path %>
      </div>
    </div>
  <% end %>
</div>
