<div class="container">
  <h1 class="text-center"><%= @castle.castle_name %></h1>
  <div class="row justify-content-center">
    <% if @castle.castle_picture.attached? %>
      <%= cl_image_tag @castle.castle_picture, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <strong>Average rating:</strong>
        <%= @castle.castle_avg_rating %>
      </div>

      <div class="card">
        <p>
          <strong>Location:</strong>
          <%= @castle.location %>
        </p>

        <p>
          <strong>About:</strong>
          <%= @castle.overview %>
        </p>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <strong>Minimum price:</strong>
        <%= @castle.min_price %>
      </div>
      <div class="card">
        <strong>Availability:</strong>
        <%= @castle.availability %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <%= link_to "Back to search", castles_path %>
  </div>

</div>
